<?xml version="1.0"?>
<!--
    Purpose: Multi-robot localization using pre-existing map
    Type: Component launch file
    Features:
    - AMCL localization
    - Move_base navigation setup
    - Uses existing worldmap.pgm
    Arguments: robot_name
    Note: Used as a component in other launch files
-->
<launch>
    <arg name="robot_name" default="robot1"/>

    <!-- Load the pre-existing map -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find cs_bot)/maps/worldmap.yaml"/>

    <!-- AMCL for localization -->
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <param name="odom_frame_id" value="$(arg robot_name)/odom"/>
        <param name="base_frame_id" value="$(arg robot_name)/base_footprint"/>
        <param name="global_frame_id" value="map"/>
        
        <!-- AMCL parameters -->
        <param name="min_particles" value="500"/>
        <param name="max_particles" value="5000"/>
        <param name="update_min_d" value="0.2"/>
        <param name="update_min_a" value="0.5"/>
        <param name="initial_pose_x" value="0.0"/>
        <param name="initial_pose_y" value="0.0"/>
        <param name="initial_pose_a" value="0.0"/>
    </node>

    <!-- Basic Navigation -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find cs_bot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find cs_bot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find cs_bot)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find cs_bot)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find cs_bot)/config/move_base_params.yaml" command="load" />

        <!-- explicitly specify frame_id -->
        <param name="global_costmap/global_frame" value="map"/>
        <param name="global_costmap/robot_base_frame" value="$(arg robot_name)/base_footprint"/>
        <param name="local_costmap/global_frame" value="$(arg robot_name)/odom"/>
        <param name="local_costmap/robot_base_frame" value="$(arg robot_name)/base_footprint"/>
        <param name="planner_frequency" value="1.0"/>
        <param name="planner_patience" value="5.0"/>
        <param name="controller_frequency" value="5.0"/>
        <param name="controller_patience" value="15.0"/>
        <param name="recovery_behavior_enabled" value="true"/>
        <param name="clearing_rotation_allowed" value="true"/>
    </node>
</launch>
