<launch>
  <arg name="model" default="burger"/>
  <!-- Spawn point arguments -->
  <arg name="ct_spawn_1_x"/>
  <arg name="ct_spawn_1_y"/>
  <arg name="ct_spawn_2_x"/>
  <arg name="ct_spawn_2_y"/>
  <arg name="t_spawn_1_x"/>
  <arg name="t_spawn_1_y"/>
  <arg name="t_spawn_2_x"/>
  <arg name="t_spawn_2_y"/>

  <!-- Spawn CT robots -->
  <include file="$(find cs_bot)/launch/spawn_robot.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="robot_name" value="robot1"/>
    <arg name="init_pose_x" value="$(arg ct_spawn_1_x)"/>
    <arg name="init_pose_y" value="$(arg ct_spawn_1_y)"/>
    <arg name="init_pose_z" value="0.0"/>
    <arg name="init_pose" value="-x $(arg ct_spawn_1_x) -y $(arg ct_spawn_1_y) -z 0 -Y 0"/>]
  </include>

  <include file="$(find cs_bot)/launch/spawn_robot.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="robot_name" value="robot2"/>
    <arg name="init_pose_x" value="$(arg ct_spawn_2_x)"/>
    <arg name="init_pose_y" value="$(arg ct_spawn_2_y)"/>
    <arg name="init_pose_z" value="0.0"/>
    <arg name="init_pose" value="-x $(arg ct_spawn_2_x) -y $(arg ct_spawn_2_y) -z 0 -Y 0"/>
  </include>

  <!-- Spawn T robots -->
  <include file="$(find cs_bot)/launch/spawn_robot.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="robot_name" value="robot3"/>
    <arg name="init_pose_x" value="$(arg t_spawn_1_x)"/>
    <arg name="init_pose_y" value="$(arg t_spawn_1_y)"/>
    <arg name="init_pose_z" value="0.0"/>
    <arg name="init_pose" value="-x $(arg t_spawn_1_x) -y $(arg t_spawn_1_y) -z 0 -Y 0"/>
  </include>

  <include file="$(find cs_bot)/launch/spawn_robot.launch">
    <arg name="model" value="$(arg model)"/>
    <arg name="robot_name" value="robot4"/>
    <arg name="init_pose_x" value="$(arg t_spawn_2_x)"/>
    <arg name="init_pose_y" value="$(arg t_spawn_2_y)"/>
    <arg name="init_pose_z" value="0.0"/>
    <arg name="init_pose" value="-x $(arg t_spawn_2_x) -y $(arg t_spawn_2_y) -z 0 -Y 0"/>
  </include>

  <!-- BEGIN roba-->
  <include file="$(find cs_bot)/launch/spawn_robot.launch" >
    <arg name="init_pose" value="-x -1.72 -y 1.63 -z 0 -Y 0" />
    <arg name="init_pose_x" value="-1.72"/>
    <arg name="init_pose_y" value="1.63"/>
    <arg name="robot_name"  value="roba" />
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- BEGIN robb-->
  <include file="$(find cs_bot)/launch/spawn_robot.launch" >
    <arg name="init_pose" value="-x 0 -y -1.43 -z 0 -Y 0" />
    <arg name="init_pose_x" value="0"/>
    <arg name="init_pose_y" value="-1.43"/>
    <arg name="robot_name"  value="robb" />
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- BEGIN robc-->
  <include file="$(find cs_bot)/launch/spawn_robot.launch" >
    <arg name="init_pose" value="-x -1.35 -y 1.63 -z 0 -Y 0" />
    <arg name="init_pose_x" value="-1.35"/>
    <arg name="init_pose_y" value="1.63"/>
    <arg name="robot_name"  value="robc" />
    <arg name="model" value="$(arg model)"/>
  </include>

  <!-- BEGIN rafael-->
  <include file="$(find cs_bot)/launch/spawn_robot.launch" >
    <arg name="init_pose" value="-x 0.35 -y -1.43 -z 0 -Y 0" />
    <arg name="init_pose_x" value="0.35"/>
    <arg name="init_pose_y" value="-1.43"/>
    <arg name="robot_name"  value="rafael" />
    <arg name="model" value="$(arg model)"/>
  </include>
  
  <!--BEGIN run nodes-->
  <node name="run_game_manager" pkg="cs_bot" type="game_manager.py" respawn="false" output="screen"></node>

  <node name="run_robot1" pkg="cs_bot" type="robot_controller.py" respawn="false" output="screen">
    <param name="robot_name" type="string" value="robot1" />
    <param name="team" type="string" value="CT" />
  </node>
  <node name="run_robot2" pkg="cs_bot" type="robot_controller.py" respawn="false" output="screen">
    <param name="robot_name" type="string" value="robot2" />
    <param name="team" type="string" value="CT" />
  </node>
  <node name="run_robot3" pkg="cs_bot" type="robot_controller.py" respawn="false" output="screen">
    <param name="robot_name" type="string" value="robot3" />
    <param name="team" type="string" value="T" />
  </node>
  <node name="run_robot4" pkg="cs_bot" type="robot_controller.py" respawn="false" output="screen">
    <param name="robot_name" type="string" value="robot4" />
    <param name="team" type="string" value="T" />
  </node>

  <node name="run_ui" pkg="cs_bot" type="ui.py" respawn="false" output="screen"></node>
</launch>
