<?xml version="1.0"?>
<!--
    Purpose: Create a map of test2.world using teleop control
    Type: Utility launch file
    World: test2.world
    Features:
    - Single robot with teleop control
    - SLAM mapping
    - Map saving configuration
    - Same map parameters as slam.launch
    Usage: For creating worldmap.pgm through manual control
-->
<launch>
    <!-- Start Gazebo with test2 world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find cs_bot)/worlds/test2.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
    </include>

    <!-- Spawn single robot for mapping -->
    <group ns="mapping_robot">
        <!-- Load robot model -->
        <param name="robot_description" 
               command="$(find xacro)/xacro --inorder $(find cs_bot)/urdf/cs_robot_red.urdf.xacro robot_name:=mapping_robot" />
        
        <!-- Spawn Robot -->
        <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
              args="-urdf -model mapping_robot 
                    -x 0.0 -y 0.0 -z 0.0
                    -param robot_description"
              output="screen" />

        <!-- Robot State Publisher -->
        <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="50.0"/>
            <param name="tf_prefix" value="mapping_robot"/>
        </node>

        <!-- SLAM node -->
        <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
            <param name="base_frame" value="mapping_robot/base_footprint"/>
            <param name="odom_frame" value="mapping_robot/odom"/>
            <param name="map_frame" value="map"/>
            
            <!-- Add laser scan remapping -->
            <remap from="scan" to="mapping_robot/scan"/>
            
            <!-- Laser parameters -->
            <param name="maxRange" value="3.0"/>
            <param name="maxUrange" value="2.8"/>
            <param name="minimumScore" value="50"/>
            
            <!-- Map update parameters -->
            <param name="map_update_interval" value="1.0"/>
            <param name="linearUpdate" value="0.1"/>
            <param name="angularUpdate" value="0.1"/>
            <param name="temporalUpdate" value="0.5"/>
            
            <!-- Processing parameters -->
            <param name="particles" value="30"/>
            <param name="xmin" value="-10.0"/>
            <param name="ymin" value="-10.0"/>
            <param name="xmax" value="10.0"/>
            <param name="ymax" value="10.0"/>
            <param name="delta" value="0.05"/>
        </node>
    </group>

    <!-- Teleop node -->
    <node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop" output="screen">
        <remap from="cmd_vel" to="/mapping_robot/cmd_vel"/>
    </node>

    <!-- Map saver node -->
    <node pkg="map_server" type="map_saver" name="map_saver" 
          args="-f $(find cs_bot)/maps/worldmap"
          output="screen">
        <param name="threshold_occupied" value="0.65"/>
        <param name="threshold_free" value="0.196"/>
    </node>

    <!-- Start RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cs_bot)/rviz/mapping_config.rviz" />
</launch> 